In [2]:
import pandas as pd
import requests

In [5]:
response=requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [12]:
df=pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [13]:
df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,32.8874,8.715,29714
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,39.4251,8.687,22440
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,20.0520,8.571,13581
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,19.0086,8.567,17098
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,13.4551,8.555,9737

In [14]:
df=pd.DataFrame()

In [20]:
all_dfs = []
for i in range(1,429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    all_dfs.append(temp_df)
df = pd.concat(all_dfs, ignore_index=True)

In [21]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,32.8874,8.715,29714
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,39.4251,8.687,22440
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,20.0520,8.571,13581
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,19.0086,8.567,17098
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,13.4551,8.555,9737
...,...,...,...,...,...,...,...
8555,243442,A Fantastic Back and Forth,Middle-aged family man Arnaldo is kicked out b...,2013-12-12,0.4420,5.975,323
8556,13279,Lakeview Terrace,A young interracial couple has just moved into...,2008-09-19,2.9480,5.975,1129
8557,10678,Bringing Down the House,Uptight lawyer Peter Sanderson wants to dive b...,2003-03-07,1.1880,5.975,729
8558,9348,Species,"In 1993, the Search for Extra Terrestrial Inte...",1995-07-07,4.7946,6.000,1791
8559,301348,Elvis & Nixon,"In 1970, a few days before Christmas, Elvis Pr...",2016-03-22,2.0651,5.974,437

In [22]:
df.shape

(8560, 7)

In [24]:
df.to_csv('Movies.csv', index=False)